# jsonschema is used for validating authenticator configurations
jsonschema
jupyterhub>=2.2
# PyJWT is used for parsing id tokens
# and azuread
pyjwt>=2
# requests is already required by JupyterHub, but explicitly ask for it since we use it
requests
# ruamel.yaml is used to read and write .yaml files.
ruamel.yaml
tornado
traitlets
