jupyterhub>=1.2
# requests is already required by JupyterHub, but explicitly ask for it since we use it
requests
# jsonschema is used for validating authenticator configurations
jsonschema
# ruamel.yaml is used to read and write .yaml files.
ruamel.yaml
