# autodoc_traits needs to inspect the oauthenticator module, so we also install
# oauthenticator itself.
# Note: the install command must be ran from the oauthenticator root directory
-e ./

autodoc-traits
myst-parser
sphinx-book-theme
sphinx>=2
sphinx-copybutton
sphinx-autobuild
