# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
#
name: Tests

on:
  pull_request:
  push:
  workflow_dispatch:

env:
  OAUTH2_TOKEN_URL: "token_url"
  OAUTH2_USERDATA_URL: "userdata_url"

jobs:
  test:
    runs-on: ubuntu-20.04
    timeout-minutes: 10

    strategy:
      # Keep running even if one variation of the job fail
      fail-fast: false
      matrix:
        python:
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
        include:
          - python: "3.9"
            oldest_dependencies: oldest_dependencies

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "${{ matrix.python }}"

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install --upgrade . -r test-requirements.txt
          pip freeze

      - name: Downgrade to oldest dependencies
        if: matrix.oldest_dependencies != ''
        # take any dependencies in requirements.txt such as jupyterhub>=1.2 and
        # transform them to jupyterhub==1.2 so we can run tests with the
        # earliest-supported versions
        run: |
          cat requirements.txt | grep '>=' | sed -e 's@>=@==@g' > oldest-requirements.txt
          pip install -r oldest-requirements.txt
          pip freeze

      - name: Run tests
        run: |
          pytest -v --color=yes --cov=oauthenticator oauthenticator

      - name: Submit codecov report
        run: |
          codecov
